.container{
    max-width: 1900px;
    width: 100%;
    margin: 0 auto;
    font-family: Open Sans, sans-serif;
}
.nav-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background: #313131;
}
.nav-top-logo{
    display: flex;
    justify-content: space-between;
}
.logo-image{
    width: 27px;
    height: 27px;
    margin: 21px 30px;
}
.logo{
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    text-decoration: none;
    color: #FFFFFF;
    margin-bottom: 21px;
    margin-top: 21px;
}
.nav-top-items{
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
    margin-bottom: 21px;
}
.nav-top-item{
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 35px;
}
.nav-top-item:hover{
    color: #14B9D5;
}
.search-image{
    width: 17px;
    height: 17px;
    background: #000000;
    padding: 26px;
}
.background-header{
    background: url("../img/header-bg1.jpeg") no-repeat;
    position: relative;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.background-header::before{
    content: "";
    position: absolute;
    background: #111111;
    opacity: 0.5;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.main{
    z-index: 2;
    position: relative;
}
.main-title {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 160px;
}
.btn{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 45px;
    padding-bottom: 75px;
}
.btn-left{
    background: #89CA62;
    width: 170px;
    height: 55px;
    font-size: 18px;
    line-height: 25px;
    margin-right: 20px;
    border: 0;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
}
.btn-right{
    background: #14B9D5;
    width: 170px;
    height: 55px;
    font-size: 18px;
    line-height: 25px;
    border: 0;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
}
.block-bg{
    background: #F2F2F2;
}
.block-title{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.portfolio-types{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 870px;
    max-width: 1180px;
    width: 100%;
    text-align: center;
    align-content: space-between;
    margin: 0 auto;
    padding-bottom: 50px;
}
.portfolio-type{
    box-sizing: border-box;
    width: 370px;
    margin-bottom: 30px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
}
.portfolio-type-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    background: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
}
.portfolio-type-bg{
    width: 100%;
}
.partners-bg{
    background: url("../img/Layer 4 1.png");
    height: 588px;
    background-attachment: fixed;
}
.partners{
    display: grid;
    grid-gap: 100px;
}
.partners-title{
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    padding-top: 120px;
}
.partners-title-line{
    width: 60px;
    height: 3px;
    background: #18B4CF;
    /*margin-top: 100px;*/
    /*margin-bottom: 110px;*/
    border: none;
}
.partners-logo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 55px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    width: 880px;
    margin: 0 auto;
}
.block-bg-2{
    background: rgba(0, 0, 0, 0.0001);
}
.galery{
    display: grid;
    grid-auto-flow: column;
}
.galery-item{
    width: 100%;
}
.blog-bg3{
    background: rgba(0, 0, 0, 0.0001);
}
.articles{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "article1 article1 article1 article2"
"article3 article3 article4 article4"
"article5 article5 article6 article6"
"article7 article8 article8 article8";
    grid-column-gap: 35px;
    grid-row-gap: 45px;
    max-width: 1170px;
    margin: 0 auto;
}
.article1{
    grid-area: article1;
    display: grid;
    grid-auto-flow: column;
}
.article-img1{
    width: 100%;
    height: 259px;
}
.article1-bg{
    width: 375px;
    height: 259px;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.article-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    text-align: right;
    padding: 40px 25px 15px 30px;
}
.article-text{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5B6469;
    padding-right: 25px;
    padding-bottom: 40px;
}
.article2{
    grid-area: article2;
}
.article-img2{
    width: 277px;
    height: 210px;
}
.article2-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353A3D;
    background:  #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    padding: 14px 27px 11px;
}
.article3{
    grid-area: article3;
}
.article4{
grid-area: article4;
}
.article5{
    grid-area: article5;
}
.article6{
grid-area: article6;
}
.article7{
grid-area: article7;
}
.article8{
grid-area: article8;
}
.article-img3-6{
    width: 554px;
    height: 259px;
}
.article3-6-bg{
    background:  #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    width: 554px;
}
.page-bottom-bg{
    background: #000000;
    margin-top: 77px;
}
.page-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 1350px;
    align-items: center;
    height: 80px;
    margin: 0 auto;
}
.page-bottom-inform{
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
}
.page-bottom-logo{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    margin-left: 350px;
}
.page-bottom-logo-text{
text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    text-transform: uppercase;
}