.dark{
    background: url("../img/background.png") no-repeat fixed;
    background-size: cover;
    width: 100vw;
    height: 120vh;
}

.dark .container {
    max-width: 1030px;
    width: 100%;
    margin: 50px auto 15px;
    font-family: Roboto, sans-serif;
}


.dark .page-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.dark .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.dark a:hover h1,
.dark a:hover .logo-part,
.dark a:hover .gallery-title,
.dark a:hover {
    color: #F26522;
}

.dark .logo-img {
    height: 45px;
}

.dark .logo-img-hover{
    height: 45px;
    display: none;
}

a:hover .logo-img{
    display: none;
}
a:hover .logo-img-hover{
    display: block;
}

.dark .logo-title {
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.dark .logo-part {
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.dark .contacts {
    font-size: 18px;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: right;
}

.dark .email {
    color: #FFFFFF;
    text-decoration: none;
}

.dark .number {
    color: #FFFFFF;
    text-decoration: none;
}


.dark .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dark .gallery-item {
    text-decoration: none;
    margin-bottom: 37px;
    position: relative;
}

.dark .gallery-img {
    box-sizing: border-box;
    width: 300px;
    height: 220px;
    border: 5px solid transparent;
    border-image: linear-gradient(to top, transparent 0%, black, white);
    border-image-slice: 1;
}

.dark .details{
    height: 55px;
    background: #F26522;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    width: 300px;
    bottom: 0;
    left: 0;
    right: 0;
    top: 165px;
    padding: 7px 14px 12px 16px;
    /*display: none;*/
    opacity: 0;
    margin-top: 40px;

}
.dark .gallery-item:hover .details{
    /*display: initial;*/
    opacity: 1;
    transition: 1s;
    margin-top: 0;
}
.dark .price{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
}
.dark .price-part{
    font-size: 20px;
    line-height: 20px;
    padding-top: 8px;
}
.dark .view-details{
    display: flex;
    position: relative;
    bottom: -10px;
}
.dark .more-details{
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}
.dark .more-details::after{
    content: url("../img/Vector 1.png");
    width: 5px;
    height: 10px;
    margin-left: 16px;
}


.dark .gallery-title {
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
}

.dark .change-theme{
    text-decoration: none;
    display: flex;
    padding: 15px 30px;
    margin: 20px auto 20px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px #F26522 inset, 0 0 0 0 #fa8c29;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: antiquewhite;
    transition: .15s ease-in-out;
    outline: none;
    border: none;
    background: antiquewhite;
}
.dark .change-theme:hover{
    box-shadow: 0 0 10px 0 #F26522 inset, 0 0 10px 4px #F26522;
    color: #F26522;
}

.dark .page-bottom {
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 60px;
}












.light{
    background: url("../light img/photo_2021-05-14_17-10-09.jpg") no-repeat fixed;
    background-size: cover;
    width: 100vw;
    height: 120vh;
}

.light .container {
    max-width: 1030px;
    width: 100%;
    margin: 50px auto 15px;
    font-family: Roboto, sans-serif;
}


.light .page-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.light .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.light a:hover h1,
.light a:hover .logo-part,
.light a:hover {
    color: #F26522;
}

.light a:hover .gallery-title {
    color: darkseagreen;
}

.light .logo-img {
    height: 45px;
}

.light .logo-img-hover{
    height: 45px;
    display: none;
}

a:hover .logo-img{
    display: none;
}
a:hover .logo-img-hover{
    display: block;
}

.light .logo-title {
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.light .logo-part {
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.light .contacts {
    font-size: 18px;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: right;
}

.light .email {
    color: #FFFFFF;
    text-decoration: none;
}

.light .number {
    color: #FFFFFF;
    text-decoration: none;
}


.light .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.light .gallery-item {
    text-decoration: none;
    margin-bottom: 37px;
    position: relative;
}

.light .gallery-img {
    box-sizing: border-box;
    width: 300px;
    height: 220px;
    border: 5px solid transparent;
    border-image: linear-gradient(to top, transparent 0%, darkslategrey, darkseagreen);
    border-image-slice: 1;
}

.light .details{
    height: 55px;
    background: darkseagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    width: 300px;
    bottom: 0;
    left: 0;
    right: 0;
    top: 165px;
    padding: 7px 14px 12px 16px;
    /*display: none;*/
    opacity: 0;
    margin-top: 40px;

}
.light .gallery-item:hover .details{
    /*display: initial;*/
    opacity: 1;
    transition: 1s;
    margin-top: 0;
}
.light .price{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 10px;
    line-height: 10px;
    color: darkslategrey;
}
.light .price-part{
    font-size: 20px;
    line-height: 20px;
    padding-top: 8px;
}
.light .view-details{
    display: flex;
    position: relative;
    bottom: -10px;
}
.light .more-details{
    font-size: 14px;
    line-height: 14px;
    color: darkslategrey;
}
.light .more-details::after{
    content: url("../img/Vector 1.png");
    width: 5px;
    height: 10px;
    margin-left: 16px;
}


.light .gallery-title {
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: antiquewhite;
    margin-top: 20px;
}

.light .change-theme{
    text-decoration: none;
    display: flex;
    padding: 15px 30px;
    margin: 20px auto 20px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px darkslategrey inset, 0 0 0 0 darkslategrey;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: antiquewhite;
    transition: .15s ease-in-out;
    outline: none;
    border: none;
    background: antiquewhite;
}
.light .change-theme:hover{
    box-shadow: 0 0 10px 0 darkslategrey inset, 0 0 10px 4px darkslategrey;
    color: darkslategrey;
}

.light .page-bottom {
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 60px;
}

