.container{
    max-width: 100vw;
    width: 100%;
    margin: 0 auto;
    background-image: url("../img/Фон 1.png");
    background-size: cover;
    font-family: "Ubuntu", sans-serif;
}
.nav-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    height: 58px;
    padding-right: 80px;
    padding-left: 80px;
}
.nav-top-logo{
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    text-decoration: none;
    color: #FFFFFF;
}
.nav-top-logo:hover{
    color: #3CB878;
}
.nav-top-images{
    display: flex;
    align-items: center;
}
.nav-top-img{
    text-decoration: none;
    margin-right: 25px;
}
.nav-top-img:hover path{
    fill: #3CB878;
}
.nav-top-text{
    padding-left: 25px;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    height: 19px;
    padding-top: 5px;
}

.nav-top-link{
    text-decoration: none;
    color: #FFFFFF;
}
.nav-top-link:hover{
    color: #3CB878;
}

.sign-up-field{
    box-sizing: border-box;
    width: 444px;
    height: 584px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    margin: 10% auto;
}
.form-container{
    padding: 30px 60px 38px;
    box-sizing: border-box;
}
.sign-up-field-title{
    display: flex;
    justify-content: space-between;
}
.sign-up-field-main-title{
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    position: relative;
}
.sign-up-field-main-title:before{
    content: "";
    background: #3CB878;
    width: 18px;
    height: 18px;
    position: absolute;
    left: -60px;
}
.log-in{
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    text-decoration: none;
}
.log-in:hover{
    color: #01813F;;
    text-decoration: underline;
}
.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.button{
    width: 160px;
    height: 48px;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 17px;
    padding-right: 20px;
    cursor: pointer;
}

.button-fb{
    background: #305DB8;
}
.button-fb:focus{
     background: #022263;
    outline: none;
 }
.button-g{
    background: #DF4A32;
}
.button-g:focus{
    background: #AB1F09;
    outline: none;
}
.button-text{
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.button-text-g{
    padding-left: 30px;
}

.or{
    display: flex;
    margin-top: 30px;
}
.or-hr{
    width: 152px;
    height: 1px;
    background: #F2F2F2;
    border: none;
}
.or-text{
    font-size: 14px;
    line-height: 14px;
    margin-left: 5px;
    margin-right: 5px;
    color: #848484;
}

.sign-up-forms{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.sign-up-form{

}
.sign-up-form-text{
    width: 300px;
    height: 46px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    padding-left: 20px;
}
.sign-up-form-text::placeholder{
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}
.sign-up-form-text:focus{
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    outline: none;
}
.sign-up-checkbox{
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}
input[type=checkbox]{
    display: none;
}
input[type=checkbox] + label:before {
    content: "\2714";
    color: transparent;
    display: inline-block;
    border: 1px solid #F2F2F2;;
    font-size: 20px;
    font-weight: 900;
    line-height: 22px;
    margin: -5px 5px 0 0;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;
    cursor: pointer;
}
input[type=checkbox]:checked + label:before {
    color: #01813F;
    border: 1px solid #F2F2F2;
}
.sign-up-checkbox-title{
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}
.sign-up-checkbox-link{
text-decoration: none;
    color: #3CB878;
    margin-left: 3px;
}
.sign-up-checkbox-link:hover{
    color: #01813F;;
    text-decoration: underline;
}
.btn-create{
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    margin-top: 25px;
}
.btn-create:focus{
    background: #01813F;
    outline: none;
}