*{
    margin: 0;
    padding: 0;
}

.container {
    min-width: 1200px;
    width: 100%;
    margin: 0 auto;
    font-family: Montserrat, sans-serif;
}

.header-bg {
    background-image: url("../img/bg 1.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.nav-top-bg {
    width: 100vw;
    background: rgba(94, 93, 88, 0.6);
    height: 120px;
}

.nav-top {
    width: 1160px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 45px;
}

.nav-top-logo {

}

.nav-top-logo-img {
    font-weight: bold;
    font-size: 40px;
    line-height: 31px;
    color: #FFFFFF;
    text-decoration: none;
    background: #1acfab;
    padding: 15px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.nav-top-logo-text {
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    text-decoration: none;
}

.nav-top-logo-text-part {
    color: #1acfab;
    font-weight: bold;
}

.nav-top-items {
    display: flex;
    gap: 30px;
}

.nav-top-item {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.nav-top-item:hover {
    color: #1acfab;
    padding-bottom: 49px;
    border-bottom: 2px solid #1acfab;
}

.nav-top-item-img {
    width: 20px;
    height: 20px;
}

.header-desc {
    margin-top: 180px;
}

.header-title {
    font-weight: bold;
    font-size: 35px;
    line-height: 1px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-title-part {
    color: #1acfab;
}

.header-slogan {
    font-weight: bold;
    font-size: 78px;
    line-height: 1px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-subtitle {
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1px;
    color: #FFFFFF;
}

.header-buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 135px;
}

.header-btn {
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 16px 17px;
    background: #18CFAB;
    border: none;
    border-radius: 5px;
    box-shadow: 0px -7px #FFFFFF;
    cursor: pointer;
}

.blue {
    padding: 16px 11px;
    background: #00CBF6;
}

.services-images {
    display: flex;
    margin-top: 5px;
}

.service-image-block {
    width: 482px;
    height: 300px;
    background: #18CFAB;
    box-sizing: border-box;

}

.service-image {
    margin-top: 80px;
    margin-left: 140px;
    margin-bottom: 40px;
}

.service-image-dark {
    margin-left: 150px;
    margin-bottom: 20px;
}

.service-image-desc {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #18CFAB;
    text-align: center;
}

.white {
    color: #FFFFFF;
}

.dark {
    background: #1C2A33;
}

.block-title {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
    margin-top: 80px;
}

.block-title-line {
    width: 79px;
    height: 4px;
    background: #18CFAB;
    border: none;
    margin-top: 25px;
}

.block-title-line2 {
    margin-left: 700px;
    margin-top: 0;
}

.services-nav {
    width: 1160px;
    margin: 70px auto 30px;
    display: flex;
}

.service-nav-item {
    font-size: 16px;
    line-height: 39px;
    text-align: center;
    color: #717171;
    text-decoration: none;
    width: 194px;
    height: 72px;
    background: #F8FCFE;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    padding-top: 16px;
}
.service-nav-item:hover{
    border: 1px solid #18CFAB;
}
.service-nav-item:focus{
    background: #18CFAB;
    border: none;
    clip-path: polygon(100% 0, 100% 85%, 63% 85%, 50% 100%, 37% 85%, 0 85%, 0 0);
    height: 85px;
    color: #FFFFFF;
}
.service-nav-desc {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    gap: 15px;
    align-items: flex-start;
}

.service-nav-img {
    width: 192px;
    height: 139px;
}

.service-nav-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    margin-top: -5px;
    margin-bottom: 90px;
}

.block-bg{
    background-image: url("../img/bg 2.png");
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
    width: 100vw;
    height: 500px;
}
.block-slogan{
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
    padding-top: 125px;
}
.block-slogan-desc{
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #D8D8D8;
    margin-bottom: 70px;
}
.block-btn{
    margin-left: 650px;
}
.gallery-bg{
    background: #E9EDEF;
}
.gallery-title{
    padding-top: 95px;
    margin-top: -25px;
}
.gallery-nav{
    width: 700px;
    height: 60px;
    margin: 70px auto;
    display: flex;
}
.gallery-nav-item{
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    text-align: center;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
    padding: 10px 25px;
}
.gallery-nav-item:hover{
    border: 2px solid #18CFAB;
    color: #18CFAB;
}
.gallery-images{
    display: flex;
    flex-wrap: wrap;
    width: 1160px;
    margin: 0 auto;
}
.gallery-desc{
    box-sizing: border-box;
    width: 285px;
    height: 211px;
    border-top: 3px solid #18CFAB;
}
.gallery-desc-images{
    margin-top: 50px;
    margin-left: 90px;
}
.gallery-desc-img{
    border: 1px solid #18CFAB;
    border-radius: 30px;
    padding: 17px;
}
.gallery-desc-title{
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
    text-align: center;
    margin-top: 20px;
}
.gallery-desc-subtitle{
    font-weight: 300;
    font-size: 13px;
    line-height: 25px;
    color: #8A8A8A;
    text-align: center;
}
.gallery-img{
    width: 285px;
    height: 211px;
}
.gallery-btn{
    width: 168px;
    height: 63px;
    background: #18CFAB;
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 70px;
    margin-left: 625px;
    margin-bottom: 100px;
}
.gallery-btn-img{
    margin-right: 15px;
    margin-top: 10px;
}


.news-gallery{
    width: 1160px;
    display: flex;
    flex-wrap: wrap;
    margin: 70px auto;
    gap: 35px;
}
.news-gallery-item{
    box-sizing: border-box;
    width: 263px;
    height: 280px;
    display: flex;
    flex-direction: column;
    background: #F8FCFE;
    border: 1px solid #F2F4F5;
    position: relative;
}
.news-gallery-date{
    position: absolute;
    width: 70px;
    height: 70px;
    background: #203E38;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    right: 0;
}
.news-gallery-date:hover{
    background: #18CFAB;
}
.news-gallery-img{

}
.news-gallery-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 39px;
    text-align: center;
    color: #717171;
}
.news-gallery-title:hover{
    color: #18CFAB;
}
.news-gallery-block{
    display: flex;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    text-align: center;
    color: #777777;
    margin-top: -45px;
    padding-left: 45px;

}
.news-gallery-author{
margin-right: 10px;

}
.news-gallery-comments{
    border-left: 1px solid #777777;
    padding-left: 10px;
}





















