.page-bg {
    background: url("../img/background.png");
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1030px;
    width: 100%;
    margin: 50px auto 15px;
    font-family: Roboto, sans-serif;
}


.page-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.logo {
    display: flex;
    text-decoration: none;
}

a:hover h1,
a:hover .logo-part,
a:hover .gallery-title,
a:hover {
    color: #F26522;
}

.logo-img {
    height: 45px;
}

.logo-img-hover{
    height: 45px;
    display: none;
}

a:hover .logo-img{
    display: none;
}
a:hover .logo-img-hover{
display: block;
}

.logo-title {
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.logo-part {
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.contacts {
    font-size: 18px;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

.email {
    color: #FFFFFF;
    text-decoration: none;
}

.number {
    color: #FFFFFF;
    text-decoration: none;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-item {
    text-decoration: none;
    margin-bottom: 37px;
    position: relative;
}

.gallery-img {
    box-sizing: border-box;
    width: 300px;
    height: 220px;
    border: 5px solid transparent;
    border-image: linear-gradient(to top, transparent 0%, black, white);
    border-image-slice: 1;
}

.details{
    height: 55px;
    background: #F26522;
    display: flex;
    justify-content: space-between;
    position: absolute;
    box-sizing: border-box;
    width: 300px;
    bottom: 0;
    left: 0;
    right: 0;
    top: 165px;
    padding: 7px 14px 12px 16px;
    /*display: none;*/
    opacity: 0;
    margin-top: 40px;

}
.gallery-item:hover .details{
    /*display: initial;*/
    opacity: 1;
    transition: 1s;
    margin-top: 0;
}
.price{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
}
.price-part{
    font-size: 20px;
    line-height: 20px;
    padding-top: 8px;
}
.view-details{
    display: flex;
    position: relative;
    bottom: -20px;
}
.more-details{
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}
.more-details::after{
    content: url("../img/Vector 1.png");
    width: 5px;
    height: 10px;
    margin-left: 16px;
}


.gallery-title {
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
}

.page-bottom {
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 13px;
}