body{
    background: antiquewhite;
}
.button{
    margin-top: 40vh;
    background: brown;
    color: burlywood;
    border: 2px solid burlywood;
    border-radius: 5px;
    font-weight: bold;
    font-size: 30px;
    padding: 25px;
    cursor: pointer;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.input{
    outline: none;
    padding: 15px;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    color: darkslategrey;
    display: none;
}
.circle-block{
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 10px;
    margin: auto;
    justify-items: center;
    align-items: center;
    display: none;
}
.circle{
    display: block;
    cursor: pointer;
}