.container{
    background: antiquewhite;
}
.titleInput{
    display: block;
}
.title{
    color: brown;
    margin-top: 50px;
    margin-left: 50px;
    font-weight: bold;
    font-size: 50px;
    font-style: italic;
    font-family: 'Orelega One', cursive, sans-serif;
    display: inline-block;
}
.input{
    outline: none;
    margin-left: 20px;
    width: 200px;
    height: 30px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Orelega One', cursive, sans-serif;
    padding: 10px;
    color: darkslategrey;
}
.input.focus{
    border: 2px solid #457d10;
}
.input.incorrect{
    border: 2px solid red;
}
.price{
    font-family: 'Orelega One', cursive, sans-serif;
    margin-top: 50px;
    margin-left: 50px;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    color: darkred;

}
.button{
    margin-left: 15px;
    font-weight: bold;
    font-size: 20px;
    color: darkred;
    background: burlywood;
    border: 1px solid darkred;
    outline: none;
    cursor: pointer;

}
.input.value{
    color: #457d10;
}
.phrase{
    margin-top: 20px;
    margin-left: 50px;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    color: darkred;
    font-family: 'Orelega One', cursive, sans-serif;
}