* {
    font-family: Montserrat, sans-serif;
    font-style: normal;
}

.menu {
    margin-top: 26px;
    margin-bottom: 26px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    word-spacing: 50px;
}

.menu li {
    display: inline-block;
}

.menu a {
    text-decoration: none;
    color: #FF0000;
}

.image {
    width: 100%;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #373737;
    margin-top: 49px;
    margin-bottom: 38px;
}

.text-content {
    margin-left: 68px;
    margin-right: 68px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2px;
    color: #373737;
}

.text-content p {
    margin: 28px;
}

.button {
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 191px;
    height: 51px;
    background: #FF0000;
    border-radius: 4px;
    border: 0px;
    margin-top: 66px;
    cursor: pointer;
}

.text {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 2.4px;
    color: #373737;
    margin-top: 82px;
    margin-right: 105px;
}