html {
    overflow: hidden;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    font-family: Roboto, sans-serif;
    padding: 0;
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: auto;
}

.header-bg {
    max-width: inherit;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    transform-style: preserve-3d;

}

.header-bg:before {
    content: "";
    max-width: inherit;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: url("../img/bg1.jpg");
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
    position: absolute;
    z-index: -1;
    transform: translateZ(-1px) scale(2);
}

.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 40px 180px 40px 200px;
    background: #FFFFFF;
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 50px;
}

.nav-top-items {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.nav-top-logo {
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
    color: #424F57;
    text-decoration: none;
}

.nav-top-logo-blue {
    color: #14afca;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-top-item {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    text-decoration: none;
    color: #424F57;
}

.nav-top-item:hover {
    color: #14afca;
}

.slogan {
    font-size: 52px;
    line-height: 75px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 3;
    position: absolute;
    top: 315px;
    left: 205px;
    right: 205px;
}

.block-position {
    max-width: inherit;
    z-index: 2;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

.block {
    background: white;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.block-title {
    font-weight: bold;
    font-size: 60px;
    line-height: 75px;
    text-align: center;
    color: #14AFCA;
    padding-top: 120px;
}

.block-title-desc {
    font-size: 18px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 0.9px;
    color: #424F57;
    font-weight: 600;
}

.block-text {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #424F57;
    width: 990px;
    margin: 0 auto;
    padding-bottom: 90px;
}

.block-bg {
    max-width: inherit;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    transform-style: preserve-3d;
}

.block-bg:before {
    content: "";
    max-width: inherit;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: black url("../img/bg2.png");
    clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%);
    position: absolute;
    z-index: -1;
    transform: translateZ(-1px) scale(2);
}

.block-title-desc-black {
    font-weight: 600;
    font-size: 18px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 0.9px;
    color: #FFFFFF;
}

.partners {
    width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding-bottom: 80px;
}

.partner:hover {
    transform: scale(1.35, 1.35);
    transition: 1s;
}

.block2-position {
    max-width: inherit;
    z-index: 2;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

.block2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    background: white;
}
.block2 h2{
    padding-top: 80px;
}
.gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1040px;
    margin: 0 auto;
    gap: 55px;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 80px;
}

.gallery-item-photo {
    width: 207px;
    height: 206px;
}

.gallery-item-text {
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    color: #424F57;
}

.block-bg2 {
    max-width: inherit;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    transform-style: preserve-3d;
}

.block-bg2:before {
    content: "";
    max-width: inherit;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: url("../img/bg3.jpg");
    clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%);
    position: absolute;
    z-index: -1;
    transform: translateZ(-1px) scale(2);
}

.block-info {
    position: absolute;
    z-index: 2;
    left: 160px;
}

.block-text-cursive {
    width: 900px;
    margin: 0 auto;
    font-style: italic;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.8px;
    color: #D3CCCC;
}

.block-text-cursive-author {
    font-style: italic;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.45px;
    color: #FFFFFF;
    margin-top: 28px;
    margin-bottom: 143px;
    margin-left: 907px;
}

.block-formula {
    width: 815px;
    margin: 10px auto 0;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.75px;
    color: #424F57;
}

.rights {
    width: 415px;
    margin: 100px auto 88px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.7px;
    color: #3D3C3C;
}

.rights-bold {
    font-weight: bold;
}

.footer {
    max-width: inherit;
    z-index: 2;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}