*{
    font-family: Roboto, sans-serif;
}
.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
.logo{
    font-size: 80px;
    line-height: 94px;
    color: #000000;
    margin-top: 60px;
    margin-bottom: 40px;
}
.logo a{
    text-decoration: none;
    color: #000000;
}
.logo-part{
    color: #4bcaff;
}
.nav-top{
    display: flex;
    justify-content: center;
    background: #35444F;
}
.nav-top-item{
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 22px 37px;
    border-left: 1px solid #FFFFFF;
}
.nav-top-item:hover{
    background: #222F3A;
}
.first{
    margin-left: 160px;
}
.last{
    padding-right: 150px;
}
.main-inform{
  display: flex;
    justify-content: space-between;
}
.nav-left{
    width: 344px;
    height: 404px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    box-sizing: border-box;
    margin-top: 50px;
    margin-right: 50px;
}
.nav-left-items{
    list-style: none;
}
.nav-left-item{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 27px;
    color: #485863;
    line-height: 70px;
    padding-left: 44px;
}
.nav-left-items li{
    padding-top: 5px;
    padding-bottom: 5px;
    height: 100%;
}
.nav-left-items li:hover{
    background: #DBDBDB;
    color: #35444F;
    padding-left: 10px;
}
.article{
    width: 885px;
}
.image{
    width: 320px;
    height: 381px;
    padding: 75px 268px 75px 297px;
}
.image-bg{
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    margin-top: 50px;
    margin-bottom: 37px;
}
.text{
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-bottom: 35px;
}
.text-translation{
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-bottom: 55px;
}

.nav-bottom{
    display: flex;
    justify-content: space-between;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
    align-items: center;
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 30px;
}
.nav-bottom-items{

}
.nav-bottom-item{
    text-decoration: none;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    margin-right: 30px;
}
.nav-bottom-item:hover{
    color: #3181a6;
    border-bottom: 1px solid #3181a6;
}
.date{
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}